<ion-view view-title="Gallery" hide-back-button="false">
  <ion-content>
  <h4>Bunga Tangan</h4>
  <ion-gallery ion-gallery-items="items" ion-gallery-row ="5" ion-gallery-toggle="true"></ion-gallery>
  <h4>Dulang Hantaran</h4>
  <ion-gallery ion-gallery-items="items1" ion-gallery-row ="5" ion-gallery-toggle="true"></ion-gallery>
  <h4>Dress Pengantin</h4>
  <ion-gallery ion-gallery-items="items2" ion-gallery-row ="5" ion-gallery-toggle="true"></ion-gallery>
  <h4>Pelamin</h4>
  <ion-gallery ion-gallery-items="items3" ion-gallery-row ="5" ion-gallery-toggle="true"></ion-gallery>
  
  </ion-content>
</ion-view>