<ion-view view-title="Register">
  <ion-content class="padding-top">
    <div class="text-center padding-top">
      <i class="icon ion-android-person-add larger positive"></i>
    </div>
    <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)"
    ng-class="{ 'has-error' : registerForm.txtemail.$invalid && registerForm.$submitted }">
    <div class="list">
         <label class="item item-input item-floating-label">
          <span class="input-label">Nama Penuh</span>
        <input name="txtfullname" type="text" ng-model="user.fullname" placeholder="Nama Penuh"
        ng-minlength="5"
        ng-maxlength="30"
        required> 
      </label>
      <div class="form-errors" ng-messages="registerForm.txtfullname.$error" ng-if="registerForm.$submitted">
        <div class="form-error" ng-message="required">It is required</div>
        <div class="form-error" ng-message="text">This field is must be a full name.</div>
        <div class="form-error" ng-message="maxlength">required limit</div>
      </div>

      <label class="item item-input item-floating-label">
          <span class="input-label">IC</span>
        <input name="txtic" type="text" ng-model="user.ic" placeholder="IC pengguna"
        ng-minlength="5"
        ng-maxlength="30"
        required> 
      </label>
      <div class="form-errors" ng-messages="registerForm.txtic.$error" ng-if="registerForm.$submitted">
        <div class="form-error" ng-message="required">It is required</div>
        <div class="form-error" ng-message="text">This field is must be a full name.</div>
        <div class="form-error" ng-message="maxlength">required limit</div>
      </div>
       <label class="item item-input item-floating-label">
          <span class="input-label">City</span>
        <input name="txtcity" type="text" ng-model="user.city" placeholder="City"
        ng-minlength="3"
        ng-maxlength="30"
        required> 
      </label>
      <div class="form-errors" ng-messages="registerForm.txtcity.$error" ng-if="registerForm.$submitted">
        <div class="form-error" ng-message="required">It is required</div>
        <div class="form-error" ng-message="text">This field is must be a city.</div>
        <div class="form-error" ng-message="maxlength">required limit</div>
      </div>


      <label class="item item-input item-floating-label">
          <span class="input-label">Nombor Fon</span>
        <input name="txtfon" type="text" ng-model="user.phone" placeholder="01232456819"
        ng-minlength="5"
        ng-maxlength="30"
        required> 
      </label>
      <div class="form-errors" ng-messages="registerForm.txtfon.$error" ng-if="registerForm.$submitted">
        <div class="form-error" ng-message="required">It is required</div>
        <div class="form-error" ng-message="text">This field is must be a full name.</div>
        <div class="form-error" ng-message="maxlength">required limit</div>
      </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
        <input name="txtemail" type="email" ng-model="user.email" placeholder="Email"
        ng-minlength="5"
        ng-maxlength="30"
        required> 
      </label>
      <div class="form-errors" ng-messages="registerForm.txtemail.$error" ng-if="registerForm.$submitted">
        <div class="form-error" ng-message="required">It is required</div>
        <div class="form-error" ng-message="email">This field is must be an email.</div>
        <div class="form-error" ng-message="maxlength">required limit</div>
      </div>
        <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : registerForm.txtpassword.$invalid  && registerForm.$submitted}">
        <span class="input-label">Password</span>
        <input name="txtpassword" type="password" ng-model="user.password" placeholder="Password"
        ng-minlength="5"
        ng-maxlength="25"
        required>
      </label>
      <div class="form-errors" ng-messages="registerForm.txtpassword.$error" ng-if="registerForm.$submitted">
        <div class="form-error" ng-message="required">Password required</div>
        <div class="form-error" ng-message="minlength">less minimum length</div>
        <div class="form-error" ng-message="maxlength">Maximum in length</div>
        <div class="form-error" ng-message="pattern">should not include number first</div>
      </div>
    </div>
    <div class="padding-top">
      <input type="submit" value="Register" class="button button-block button-positive"/>
    </div>
  </form>
  </ion-content>
</ion-view>
