<ion-view view-title="View Information" hide-back-button="false">

<ion-content class="padding-top">
          
           <ion-item ng-model= "emailx" >
     
       Email: {{emailx}}
    </ion-item>
     
    
        <ion-item >
        Fullname: {{fullnamex}}
          </ion-item><ion-item >
       
          IC Number: {{icppx}}
      
    </ion-item><ion-item >
            Phone No: {{phonenox}}
       
        </ion-item> <ion-item >

            Password: {{password}}
      </ion-item>
        <ion-item >

            City: {{city}}
      </ion-item>
   

    
    
        </ion-content>
</ion-view>
