<ion-view view-title="Update Information" hide-back-button="false">

<ion-content class="padding-top">
          
           <ion-item ng-model= "emailx" >
     
       Email: {{emailx}}
    </ion-item>
     
    <form novalidate ng-submit="submit()">
        <ion-item >
        <input type="text"  ng-model="user.fullnamex" placeholder="{{fullname}}">
          </ion-item><ion-item >

       <input type="text"  ng-model="user.icppx" placeholder="{{icpp}}">
    </ion-item><ion-item >

       <input type="text"  ng-model="user.cityx" placeholder="{{city}}">
        </ion-item> <ion-item >

       <input type="text" ng-model="user.phonenox" placeholder="{{phoneno}}">
      </ion-item>
    <input type="submit" value="submit" class="button button-block button-positive" > 
    </form>

    <ion-item>
        Add picture (soon)
    </ion-item>
    <ion-item>
          
    </ion-item>
    
        </ion-content>
</ion-view>