<ion-view view-title="Home" hide-back-button="true" class="homepage">
        <ion-content class="padding-top">


          <div class="row">
   			<div class="col text-center">
   			</br>
   			</br>
   			</br>
      <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" does-continue="true">
  <ion-slide>
    <div >
    	<img src="../img/image.jpg">
    </div>
  </ion-slide>
  <ion-slide>
    <div >
    	<img src="../img/bunga.jpg">
    </div>
  </ion-slide>
  <ion-slide>
    <div ><img src="../img/image2.jpg">
    	
    </div>
  </ion-slide>
</ion-slide-box>
</br></br>
          <a href="#/login" class="button button-block button-positive">Log In</a>
          
            
      <a href="#/about" class="button button-block button-positive">About us</a>
			
   </div>
</div>
          

</ion-item>
</ion-view>